<% -include("partials/header") %> 
    <h1>Your utilities</h1>
    <ul>
        <% for(uti of utilities){ %>
                <li><%=uti %> </li>
           <% } %>  
    </ul>

    <% -include("partials/footer") %> 